## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

⚠️ Did you get: module not found? Try, in a cell: <br>
`!pip install random`<br>
`import random`

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
import random 

sample_list_1 = []

while len(sample_list_1) < 80:
    valor = random.randint(0, 100)
    if valor not in sample_list_1:
        sample_list_1.append(valor)
print(sample_list_1)

[9, 58, 67, 36, 55, 21, 2, 28, 43, 93, 14, 20, 56, 3, 76, 29, 70, 83, 72, 59, 5, 6, 82, 78, 69, 65, 26, 31, 1, 16, 40, 74, 79, 85, 75, 10, 71, 100, 50, 68, 77, 22, 91, 92, 57, 25, 52, 11, 8, 95, 19, 88, 32, 60, 53, 46, 30, 45, 42, 17, 35, 94, 89, 99, 48, 44, 62, 51, 27, 81, 24, 87, 37, 33, 96, 98, 7, 41, 80, 61]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(sample_list_1 )
len(sample_list_1)
#yes, its still 80

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2 = []

while len(sample_list_2) < 80:
    valor = random.randint(0, 100)
    sample_list_2.append(valor)
print(sample_list_2)

[61, 32, 88, 49, 34, 92, 95, 82, 58, 92, 2, 49, 93, 37, 37, 3, 75, 50, 44, 0, 74, 53, 36, 41, 55, 35, 4, 69, 50, 78, 78, 3, 87, 36, 11, 43, 81, 45, 78, 93, 52, 81, 6, 67, 96, 97, 80, 27, 17, 7, 54, 2, 35, 68, 84, 96, 13, 21, 14, 29, 99, 8, 54, 36, 17, 10, 74, 72, 1, 85, 38, 17, 62, 85, 76, 31, 72, 70, 26, 16]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2 = set(sample_list_2)

print("No it isn't, the lengh is: ", len(set2))

No it isn't, the lengh is:  60

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3={}

for i in set1:
    if i not in set2:
        set3=i
        print(set3)

5
9
19
20
22
24
25
28
30
33
40
42
46
48
51
56
57
59
60
65
71
77
79
83
89
91
94
98
100

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4={}

for i in set2:
    if i not in set1:
        set4=i
        print(set4)

0
4
13
34
38
49
54
84
97

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5 = {}

for i in set1:
    if i in set2:
        set5=i
        print(set5)

1
2
3
6
7
8
10
11
14
16
17
21
26
27
29
31
32
35
36
37
41
43
44
45
50
52
53
55
58
61
62
67
68
69
70
72
74
75
76
78
80
81
82
85
87
88
92
93
95
96
99

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formula to represent that relationship. Test your formula with Python code. Eg.: 

- my age is 30
- my son is 10
- my dad's twice my age
- my grandmother is three times my age minus my son's_age


A formula relating all these values would be:

`my_grandmother = my_age + my_dad's_age - my_sons_age`

Does this evaluate to True or to False?

In [10]:
# Your code here

TypeError: object of type 'int' has no len()

#### Create an empty set called `set6`.

In [11]:
# Your code here
set6={}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [14]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)

TypeError: 'int' object is not iterable

#### Check if `set1` and `set6` are equal.

In [15]:
# Your code here
set1 == set6

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [16]:
set1.issubset(set2)
set1.issubset(set3)

TypeError: 'int' object is not iterable

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [17]:
# Your code here
result_set = set1.union(set2, set3, set5)

TypeError: 'int' object is not iterable

#### Using the `pop` method, remove the first element from `set1`.

In [19]:
# Your code here
set1.pop()

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [20]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]


for i in set1:
    if i in list_to_remove:
        set1.clear
        
print(set1)

{2, 3, 5, 6, 7, 8, 9, 10, 11, 14, 16, 17, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 40, 41, 42, 43, 44, 45, 46, 48, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 65, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 87, 88, 89, 91, 92, 93, 94, 95, 96, 98, 99, 100}