## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

⚠️ Did you get: module not found? Try, in a cell: <br>
`!pip install random`<br>
`import random`

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [20]:
# Your code here

#sample_list_1 = [random.randint(0,100) for i in range(80)] - not returning unique
sample_list_1 = random.sample(range(100), k=80)
print(sample_list_1)

[69, 94, 46, 71, 90, 62, 41, 48, 17, 7, 60, 28, 98, 67, 70, 76, 93, 10, 5, 13, 25, 53, 38, 0, 18, 40, 79, 35, 59, 65, 21, 20, 36, 1, 14, 6, 32, 23, 80, 74, 50, 30, 56, 73, 15, 83, 4, 63, 78, 33, 66, 86, 68, 8, 57, 37, 99, 29, 45, 52, 34, 82, 51, 89, 27, 96, 3, 47, 44, 81, 75, 31, 84, 43, 16, 92, 9, 11, 42, 39]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [21]:
# Your code here

set1 = set(sample_list_1)
print(type(set1))

len(set1)

<class 'set'>

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [22]:
# Your code here

sample_list_2 = [random.randint(0,100) for i in range(80)]
print(sample_list_2)

[58, 80, 43, 34, 100, 12, 93, 95, 16, 95, 97, 52, 48, 80, 25, 91, 21, 86, 37, 83, 40, 21, 6, 47, 61, 61, 86, 51, 54, 72, 1, 16, 9, 3, 30, 70, 43, 16, 28, 95, 98, 5, 46, 92, 17, 43, 36, 5, 18, 99, 12, 40, 17, 76, 27, 53, 19, 17, 80, 97, 40, 95, 24, 41, 86, 97, 55, 32, 100, 20, 98, 29, 92, 50, 3, 89, 80, 41, 6, 2]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [24]:
# Your code here
set2 = set(sample_list_2)
len(set2)

52

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [25]:
# Your code here
set3 = set1.difference(set2)
print(set3)

{0, 4, 7, 8, 10, 11, 13, 14, 15, 23, 31, 33, 35, 38, 39, 42, 44, 45, 56, 57, 59, 60, 62, 63, 65, 66, 67, 68, 69, 71, 73, 74, 75, 78, 79, 81, 82, 84, 90, 94, 96}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [26]:
# Your code here
set4 = set2.difference(set1)
print(set4)

{97, 2, 100, 72, 12, 19, 54, 55, 24, 58, 91, 61, 95}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [27]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{1, 3, 5, 6, 9, 16, 17, 18, 20, 21, 25, 27, 28, 29, 30, 32, 34, 36, 37, 40, 41, 43, 46, 47, 48, 50, 51, 52, 53, 70, 76, 80, 83, 86, 89, 92, 93, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formula to represent that relationship. Test your formula with Python code. Eg.: 

- my age is 30
- my son is 10
- my dad's twice my age
- my grandmother is three times my age minus my son's_age


A formula relating all these values would be:

`my_grandmother = my_age + my_dad's_age - my_sons_age`

Does this evaluate to True or to False?

In [30]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

len(set1) + len(set2) - len(set5) == len(set3) + len(set4) + len(set5)

80
52
41
13
39

True

#### Create an empty set called `set6`.

In [10]:
# Your code here
set6 = ("",)
print(set6)

('',)

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here
print(set6)
set6 = set3 | set5

print(set6)

('',)
{0, 1, 3, 6, 7, 8, 11, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 36, 37, 38, 39, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 81, 82, 83, 84, 86, 87, 88, 89, 90, 92, 94, 95, 97, 99}

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here
print("set1 = set6? ", set1==set6)

set1 = set6?  True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# Your code here
print("set1 contains set2? ",set2.issubset(set1))
print("\nset1 contains set3? ", set3.issubset(set1))

set1 contains set2?  False

set1 contains set3?  True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Your code here
union345 = set3 | set4 | set5

union12 = set1 | set2

print("The aggregate of 3, 4 and 5 are iqual to the aggragate of 1 and 2? ", union345 == union12)

The aggregate of 3, 4 and 5 are iqual to the aggragate of 1 and 2?  True

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# Your code here
print("set1: ", set1)

set1.pop()
print("Without the first element: ", set1)

set1:  {0, 1, 3, 6, 7, 8, 11, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 36, 37, 38, 39, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 81, 82, 83, 84, 86, 87, 88, 89, 90, 92, 94, 95, 97, 99}
Without the first element:  {1, 3, 6, 7, 8, 11, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 36, 37, 38, 39, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 81, 82, 83, 84, 86, 87, 88, 89, 90, 92, 94, 95, 97, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [40]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
print(set1)
for i in list_to_remove:
    if i in set1:
        set1.remove(i)

print(set1)

{0, 3, 4, 5, 6, 7, 8, 10, 13, 14, 15, 16, 17, 18, 20, 23, 25, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 56, 57, 60, 62, 63, 65, 66, 67, 68, 70, 73, 74, 75, 76, 78, 80, 82, 83, 84, 86, 90, 92, 93, 94, 96, 98}
{0, 3, 4, 5, 6, 7, 8, 10, 13, 14, 15, 16, 17, 18, 20, 23, 25, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 56, 57, 60, 62, 63, 65, 66, 67, 68, 70, 73, 74, 75, 76, 78, 80, 82, 83, 84, 86, 90, 92, 93, 94, 96, 98}