## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

⚠️ Did you get: module not found? Try, in a cell: <br>
`!pip install random`<br>
`import random`

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [19]:
import random
sample_list_1 = random.sample(range(100), k=80)
print(sample_list_1)

[94, 63, 20, 74, 14, 80, 40, 30, 22, 85, 71, 81, 51, 79, 48, 92, 70, 60, 50, 10, 52, 90, 82, 96, 6, 64, 83, 37, 29, 39, 98, 19, 4, 62, 89, 55, 25, 11, 65, 13, 93, 38, 41, 15, 72, 69, 73, 42, 28, 26, 34, 95, 68, 66, 35, 88, 32, 77, 27, 49, 7, 61, 76, 23, 91, 33, 75, 87, 46, 21, 2, 1, 3, 84, 97, 17, 59, 99, 12, 56]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [20]:
set1 = set(sample_list_1)
print(sample_list_1)
print("The lenght is still", len(set1))

[94, 63, 20, 74, 14, 80, 40, 30, 22, 85, 71, 81, 51, 79, 48, 92, 70, 60, 50, 10, 52, 90, 82, 96, 6, 64, 83, 37, 29, 39, 98, 19, 4, 62, 89, 55, 25, 11, 65, 13, 93, 38, 41, 15, 72, 69, 73, 42, 28, 26, 34, 95, 68, 66, 35, 88, 32, 77, 27, 49, 7, 61, 76, 23, 91, 33, 75, 87, 46, 21, 2, 1, 3, 84, 97, 17, 59, 99, 12, 56]
The lenght is still 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [21]:
sample_list_2 = random.sample(range(100), k=80)
print(sample_list_2)

[69, 78, 31, 61, 16, 68, 41, 5, 99, 4, 40, 44, 59, 23, 38, 37, 14, 47, 88, 83, 80, 8, 43, 34, 95, 32, 91, 10, 12, 81, 42, 82, 46, 86, 49, 67, 19, 56, 48, 15, 55, 94, 63, 79, 6, 7, 96, 35, 54, 60, 73, 70, 36, 52, 85, 84, 75, 72, 1, 26, 45, 3, 27, 50, 58, 90, 9, 30, 89, 65, 33, 22, 76, 77, 24, 98, 93, 66, 0, 97]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [22]:
set2 = set(sample_list_2)
print("The lenght is still", len(set2))

The lenght is still 80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [23]:
set3 = set1.difference(set2)
print(set3)

{64, 2, 39, 71, 74, 11, 13, 92, 17, 51, 20, 21, 87, 25, 28, 29, 62}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [24]:
set4 = set2.difference(set1)
print(set4)

{0, 67, 36, 5, 8, 9, 43, 44, 45, 78, 47, 16, 54, 86, 24, 58, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [25]:
set5 = set1.intersection(set2)
print(set5)

{1, 3, 4, 6, 7, 10, 12, 14, 15, 19, 22, 23, 26, 27, 30, 32, 33, 34, 35, 37, 38, 40, 41, 42, 46, 48, 49, 50, 52, 55, 56, 59, 60, 61, 63, 65, 66, 68, 69, 70, 72, 73, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formula to represent that relationship. Test your formula with Python code. Eg.: 

- my age is 30
- my son is 10
- my dad's twice my age
- my grandmother is three times my age minus my son's_age


A formula relating all these values would be:

`my_grandmother = my_age + my_dad's_age - my_sons_age`

Does this evaluate to True or to False?

In [26]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

I_know_how_to_add = (len(set1) - len(set3)) - (len(set2) - len(set4))
print(I_know_how_to_add == 0)

80
80
17
17
63
True

#### Create an empty set called `set6`.

In [27]:
set6 = set()
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [28]:
set6.update(set3)
set6.update(set5)
print(set6)

{1, 2, 3, 4, 6, 7, 10, 11, 12, 13, 14, 15, 17, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 46, 48, 49, 50, 51, 52, 55, 56, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [29]:
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [31]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [36]:
set10 = set3.union(set4).union(set5)
print(set10)

set11 = set1.union(set1).union(set2)
print(set11)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [37]:
set1.pop()

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [41]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set13 = set(list_to_remove)
print(set1.difference(set13))

{2, 3, 4, 6, 7, 10, 12, 13, 14, 15, 17, 20, 22, 23, 25, 26, 27, 28, 30, 32, 33, 34, 35, 37, 38, 40, 42, 46, 48, 50, 52, 55, 56, 60, 62, 63, 64, 65, 66, 68, 70, 72, 73, 74, 75, 76, 77, 80, 82, 83, 84, 85, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98}