## Challenge 1: Tuples

#### Do you know you can create tuples with only one element?

**In the cell below, define a variable `tup` with a single element `"I"`.**<br>
[Hint](https://note.nkmk.me/en/python-tuple-single-empty/)

In [2]:
tup = ("I",)
tup

('I',)

#### Print the type of `tup`.

Make sure its type is correct (i.e. *tuple* instead of *str*).

In [3]:
tup = ("I",)
print (type(tup))

<class 'tuple'>

#### Now try to append the following elements to `tup`.

Are you able to do it? Explain.

```
"r", "o", "n", "h", "a", "c", "k',
```

In [8]:
tup = ("I",)
tup.append ("r",)
tup

# you cannot append this way because tuple has no atribute

AttributeError: ignored

#### How about re-assign a new value to an existing tuple?

Re-assign the following elements to `tup`. Are you able to do it? Explain.

```
"I", "r", "o", "n", "h", "a", "c", "k"
```

Can you think of any other workarounds? Think of casting? slicing?, re-assigning?

In [9]:
tup = ("I",)
tup = tup + ("r", "o", "n", "h", "a", "c", "k" )
tup


#  you can work it out an other way by adding with + sign tup and the rest of the list.

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

#### Split `tup` into `tup1` and `tup2` with 4 elements in each.

`tup1` should be `("I", "r", "o", "n")` and `tup2` should be `("h", "a", "c", "k")`.

*Hint: use positive index numbers for `tup1` assignment and use negative index numbers for `tup2` assignment. Positive index numbers count from the beginning whereas negative index numbers count from the end of the sequence.*

Also print `tup1` and `tup2`.

In [26]:
tup = ('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')
tup1 = tup[:4]
tup2 = tup[-4:]

print(tup1)
print(tup2)

('I', 'r', 'o', 'n')
('h', 'a', 'c', 'k')

#### Add `tup1` and `tup2` into `tup3` using the `+` operator.

Then print `tup3` and check if `tup3` equals to `tup`.

In [31]:
tup = ('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')
tup1 = tup[:4]
tup2 = tup[-4:]

tup3 = tup1 + tup2

if tup == tup3:
     print ("tup is equal to tup3")
else:
     print ("tup is not equal to tup3")

tup is equal to tup3

#### Count the number of elements in `tup1` and `tup2`. Then add the two counts together and check if the sum is the same as the number of elements in `tup3`.

In [34]:
tup = ('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')
tup1 = tup[:4]
tup2 = tup[-4:]

tup3 = tup1 + tup2

count_tup1 = len(tup1)
count_tup2 = len(tup2)

result = count_tup1 + count_tup2 == len(tup3)

print("Number of elements in up1 is", count_tup1)
print("Number of elements in up2 is", count_tup2)
print("Number of elements in up3 is", len(tup3))
print("The sum is the same as the number of elements?",result)

Number of elements in up1 is 4
Number of elements in up2 is 4
Number of elements in up3 is 8
The sum is the same as the number of elements? True

#### What is the index number of `"h"` in `tup3`?

In [37]:
tup = ('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')
tup1 = tup[:4]
tup2 = tup[-4:]

tup3 = tup1 + tup2

index_h = tup3.index('h')

print("Th index number of 'h' is", index_h)

Th index number of 'h' is 4

#### Now, use a FOR loop to check whether each letter in the following list is present in `tup3`:

```
letters = ["a", "b", "c", "d", "e"]
```

For each letter you check, print `True` if it is present in `tup3` otherwise print `False`.

*Hint: you only need to loop `letters`. You don't need to loop `tup3` because there is a Python operator `in` you can use. See [reference](https://stackoverflow.com/questions/17920147/how-to-check-if-a-tuple-contains-an-element-in-python).*

In [39]:
tup = ('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')
tup1 = tup[:4]
tup2 = tup[-4:]

tup3 = tup1 + tup2

letters = ["a", "b", "c", "d", "e"]

for letter in letters:
    if letter in tup3:
       print("True")
    else:
       print("false")

True
false
True
false
false

#### How many times does each letter in `letters` appear in `tup3`?

Print out the number of occurrence of each letter.

Hint: three different approaches: loops, methods for counting and maybe use of dictionaries?

In [45]:
from os import XATTR_CREATE
tup = ('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')
tup1 = tup[:4]
tup2 = tup[-4:]

tup3 = tup1 + tup2

letters = ["a", "b", "c", "d", "e"]
letter_counts = {}

for letter in letters:
  x = tup3.count(letter)
  letter_counts[letter] = x

for letter, count in letter_counts.items():
  print(f"The letter {letter} appears {x} times in tup3")

The letter a appears 0 times in tup3
The letter b appears 0 times in tup3
The letter c appears 0 times in tup3
The letter d appears 0 times in tup3
The letter e appears 0 times in tup3