## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

⚠️ Did you get: module not found? Try, in a cell: <br>
`!pip install random`<br>
`import random`

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [8]:
# Your code here

sample_list_1 = random.sample(range(81), 80)

print(sample_list_1)

[69, 2, 73, 56, 3, 47, 17, 10, 79, 65, 72, 29, 28, 57, 54, 43, 42, 78, 52, 38, 58, 51, 36, 61, 53, 48, 46, 25, 26, 74, 41, 18, 71, 76, 24, 12, 66, 35, 1, 39, 19, 77, 70, 11, 34, 30, 49, 7, 50, 0, 22, 45, 32, 59, 60, 55, 13, 20, 62, 4, 75, 8, 64, 15, 33, 23, 16, 5, 6, 68, 27, 31, 37, 14, 44, 21, 40, 9, 80, 67]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [10]:
# Your code here

sample_list_1 = [69, 2, 73, 56, 3, 47, 17, 10, 79, 65, 72, 29, 28, 57, 54, 43, 42, 78, 52, 38, 58, 51, 36, 61, 53, 48, 46, 25, 26, 74, 41, 18, 71, 76, 24, 12, 66, 35, 1, 39, 19, 77, 70, 11, 34, 30, 49, 7, 50, 0, 22, 45, 32, 59, 60, 55, 13, 20, 62, 4, 75, 8, 64, 15, 33, 23, 16, 5, 6, 68, 27, 31, 37, 14, 44, 21, 40, 9, 80, 67]

set1 = set(sample_list_1)

print(set1)

# Is its length still 80? = Yes

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [13]:
# Your code here

sample_list_2 = []

for i in range(80):
    random_value = random.randint(0, 80)
    sample_list_2.append(random_value)

print(sample_list_2)

[45, 27, 34, 72, 58, 26, 71, 20, 23, 6, 55, 15, 35, 23, 53, 45, 36, 45, 41, 19, 44, 22, 7, 64, 56, 64, 61, 4, 69, 47, 43, 52, 59, 41, 38, 29, 69, 64, 31, 9, 42, 19, 27, 38, 79, 11, 9, 71, 48, 23, 72, 79, 3, 79, 34, 25, 38, 23, 3, 22, 73, 41, 35, 4, 56, 2, 15, 18, 25, 64, 15, 9, 31, 46, 5, 25, 34, 28, 29, 12]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [15]:
# Your code here

sample_list_2 = [45, 27, 34, 72, 58, 26, 71, 20, 23, 6, 55, 15, 35, 23, 53, 45, 36, 45, 41, 19, 44, 22, 7, 64, 56, 64, 61, 4, 69, 47, 43, 52, 59, 41, 38, 29, 69, 64, 31, 9, 42, 19, 27, 38, 79, 11, 9, 71, 48, 23, 72, 79, 3, 79, 34, 25, 38, 23, 3, 22, 73, 41, 35, 4, 56, 2, 15, 18, 25, 64, 15, 9, 31, 46, 5, 25, 34, 28, 29, 12]

set2 = set(sample_list_2)

print(set2)

# Is its length still 80? = No

{2, 3, 4, 5, 6, 7, 9, 11, 12, 15, 18, 19, 20, 22, 23, 25, 26, 27, 28, 29, 31, 34, 35, 36, 38, 41, 42, 43, 44, 45, 46, 47, 48, 52, 53, 55, 56, 58, 59, 61, 64, 69, 71, 72, 73, 79}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [16]:
# Your code here

set1 = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80}
set2 = {2, 3, 4, 5, 6, 7, 9, 11, 12, 15, 18, 19, 20, 22, 23, 25, 26, 27, 28, 29, 31, 34, 35, 36, 38, 41, 42, 43, 44, 45, 46, 47, 48, 52, 53, 55, 56, 58, 59, 61, 64, 69, 71, 72, 73, 79}

set3 = set1 - set2

print("Elements present in set1 but not in set2 (set3):")
print(set3)

Elements present in set1 but not in set2 (set3):
{0, 1, 8, 10, 13, 14, 16, 17, 21, 24, 30, 32, 33, 37, 39, 40, 49, 50, 51, 54, 57, 60, 62, 65, 66, 67, 68, 70, 74, 75, 76, 77, 78, 80}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [19]:
# Your code here

set1 = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80}
set2 = {2, 3, 4, 5, 6, 7, 9, 11, 12, 15, 18, 19, 20, 22, 23, 25, 26, 27, 28, 29, 31, 34, 35, 36, 38, 41, 42, 43, 44, 45, 46, 47, 48, 52, 53, 55, 56, 58, 59, 61, 64, 69, 71, 72, 73, 79}

set4 = set2 - set1

print("Elements present in set2 but not in set1 (set4):")
print(set4)

Elements present in set2 but not in set1 (set4):
set()

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [18]:
# Your code here

set1 = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80}
set2 = {2, 3, 4, 5, 6, 7, 9, 11, 12, 15, 18, 19, 20, 22, 23, 25, 26, 27, 28, 29, 31, 34, 35, 36, 38, 41, 42, 43, 44, 45, 46, 47, 48, 52, 53, 55, 56, 58, 59, 61, 64, 69, 71, 72, 73, 79}

set5 = set1 & set2

print("Elements shared between set1 and set2 (set5):")
print(set5)

Elements shared between set1 and set2 (set5):
{2, 3, 4, 5, 6, 7, 9, 11, 12, 15, 18, 19, 20, 22, 23, 25, 26, 27, 28, 29, 31, 34, 35, 36, 38, 41, 42, 43, 44, 45, 46, 47, 48, 52, 53, 55, 56, 58, 59, 61, 64, 69, 71, 72, 73, 79}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formula to represent that relationship. Test your formula with Python code. Eg.: 

- my age is 30
- my son is 10
- my dad's twice my age
- my grandmother is three times my age minus my son's_age


A formula relating all these values would be:

`my_grandmother = my_age + my_dad's_age - my_sons_age`

Does this evaluate to True or to False?

In [20]:
# Your code here

set1 = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80}
set2 = {2, 3, 4, 5, 6, 7, 9, 11, 12, 15, 18, 19, 20, 22, 23, 25, 26, 27, 28, 29, 31, 34, 35, 36, 38, 41, 42, 43, 44, 45, 46, 47, 48, 52, 53, 55, 56, 58, 59, 61, 64, 69, 71, 72, 73, 79}
set3 = set1 - set2
set4 = set2 - set1
set5 = set1 & set2

left_side = len(set1) + len(set2)
right_side = len(set3) + len(set4) + 2 * len(set5)

is_true = left_side == right_side

print("Is the formula True?", is_true)

Is the formula True? True

#### Create an empty set called `set6`.

In [28]:
# Your code here

set6 = ()
print(set6)

()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [29]:
# Your code here

set3 = {0, 1, 8, 10, 13, 14, 16, 17, 21, 24, 30, 32, 33, 37, 39, 40, 49, 50, 51, 54, 57, 60, 62, 65, 66, 67, 68, 70, 74, 75, 76, 77, 78, 80}
set5 = {2, 3, 4, 5, 6, 7, 9, 11, 12, 15, 18, 19, 20, 22, 23, 25, 26, 27, 28, 29, 31, 34, 35, 36, 38, 41, 42, 43, 44, 45, 46, 47, 48, 52, 53, 55, 56, 58, 59, 61, 64, 69, 71, 72, 73, 79}

set6 = set()

set6.update(set3)
set6.update(set5)

print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80}

#### Check if `set1` and `set6` are equal.

In [30]:
# Your code here

set1 = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80}
set6 = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80}

print(set1==set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [32]:
# Your code here

set1 = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80}
set2 = {2, 3, 4, 5, 6, 7, 9, 11, 12, 15, 18, 19, 20, 22, 23, 25, 26, 27, 28, 29, 31, 34, 35, 36, 38, 41, 42, 43, 44, 45, 46, 47, 48, 52, 53, 55, 56, 58, 59, 61, 64, 69, 71, 72, 73, 79}
set3 = {0, 1, 8, 10, 13, 14, 16, 17, 21, 24, 30, 32, 33, 37, 39, 40, 49, 50, 51, 54, 57, 60, 62, 65, 66, 67, 68, 70, 74, 75, 76, 77, 78, 80}

is_set2_subset_of_set1 = set2.issubset(set1)
is_set1_contains_set3 = set1.issuperset(set3)

print("Is set2 a subset of set1?", is_set2_subset_of_set1)
print("Does set1 contain set3?", is_set1_contains_set3)

Is set2 a subset of set1? True
Does set1 contain set3? True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [33]:
# Your code here

set1 = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80}
set2 = {2, 3, 4, 5, 6, 7, 9, 11, 12, 15, 18, 19, 20, 22, 23, 25, 26, 27, 28, 29, 31, 34, 35, 36, 38, 41, 42, 43, 44, 45, 46, 47, 48, 52, 53, 55, 56, 58, 59, 61, 64, 69, 71, 72, 73, 79}
set3 = {0, 1, 8, 10, 13, 14, 16, 17, 21, 24, 30, 32, 33, 37, 39, 40, 49, 50, 51, 54, 57, 60, 62, 65, 66, 67, 68, 70, 74, 75, 76, 77, 78, 80}
set4 = set2 - set1
set5 = set1 & set2

aggregated_set_1 = set3.union(set4, set5)

aggregated_set_2 = set1.union(set2)

are_aggregated_sets_equal = aggregated_set_1 == aggregated_set_2

print("Are the aggregated sets equal?", are_aggregated_sets_equal)

Are the aggregated sets equal? True

#### Using the `pop` method, remove the first element from `set1`.

In [36]:
# Your code here

set1 = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80}

set1.pop()

print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [37]:
# Your code here

set1 = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80}
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

res = set1 - set(list_to_remove)

print(res)

{0, 2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80}