## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

⚠️ Did you get: module not found? Try, in a cell: <br>
`!pip install random`<br>
`import random`

#### In the cell below, create a list named `sample_list_1` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [4]:
import random

x = list(range(1,101))

sample_list_1 = random.sample(x,80)

print(sample_list_1)

[8, 79, 94, 59, 10, 12, 25, 76, 68, 33, 73, 39, 34, 36, 61, 58, 85, 100, 55, 89, 99, 42, 95, 82, 51, 97, 57, 38, 93, 96, 44, 5, 20, 24, 67, 31, 32, 90, 60, 21, 84, 19, 80, 11, 17, 45, 50, 70, 13, 66, 28, 30, 83, 77, 91, 87, 14, 56, 35, 16, 23, 48, 74, 88, 4, 22, 63, 53, 64, 62, 7, 71, 69, 41, 27, 78, 40, 9, 1, 15]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [7]:
x = list(range(1,101))

sample_list_1 = random.sample(x,80)

set1 = set(sample_list_1)

if len(set1) == 80:
   print("yes the length is 80")
else:
  print("No the length is not 80")

yes the length is 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [2]:
import random

x = list(range(1, 101))

sample_list_2 = random.choices(x, k=80)

print(sample_list_2)

[63, 51, 10, 77, 75, 84, 36, 89, 95, 59, 72, 44, 76, 93, 3, 34, 32, 88, 44, 4, 84, 64, 60, 93, 66, 62, 74, 73, 27, 78, 80, 63, 77, 33, 25, 27, 38, 39, 32, 48, 24, 38, 25, 30, 88, 66, 2, 82, 99, 49, 56, 34, 2, 74, 79, 73, 18, 76, 55, 60, 72, 70, 19, 73, 14, 74, 33, 69, 97, 36, 70, 26, 22, 20, 21, 84, 25, 81, 30, 61]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [26]:
import random

x = list(range(1, 101))

sample_list_2 = random.choices(x, k=80)

set2 = set(sample_list_2)

if len(set2) == 80:
   print("yes the length is 80")
else:
  print("No the length is not 80")

print("it is", len(set2))

No the length is not 80
it is 56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [27]:
x = list(range(1,101))

sample_list_1 = random.sample(x,80)

set1 = set(sample_list_1)

x = list(range(1, 101))

sample_list_2 = random.choices(x, k=80)

set1 = set(sample_list_2)



x = list(range(1, 101))

sample_list_2 = random.choices(x, k=80)

set2 = set(sample_list_2)


set3 = set1 - set2

print(set3)

print(len(set3))

{1, 2, 3, 4, 5, 9, 10, 16, 23, 26, 33, 38, 42, 57, 64, 75, 77, 78, 81, 87, 97}
21

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [28]:
x = list(range(1,101))

sample_list_1 = random.sample(x,80)

set1 = set(sample_list_1)

x = list(range(1, 101))

sample_list_2 = random.choices(x, k=80)

set1 = set(sample_list_2)



x = list(range(1, 101))

sample_list_2 = random.choices(x, k=80)

set2 = set(sample_list_2)


set4 = set2 -set1

print(set4)
print(len(set4))

{5, 6, 8, 16, 18, 25, 26, 28, 29, 30, 33, 37, 39, 44, 46, 52, 54, 56, 64, 72, 73, 82, 83, 84, 88, 93, 97, 98}
28

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [29]:
set5 = set1 & set2

print(set5)
print(len(set5))

{2, 3, 13, 20, 21, 27, 41, 42, 48, 51, 58, 61, 63, 65, 68, 74, 76, 78, 80, 81, 87, 89, 90, 92, 94, 96, 99}
27

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formula to represent that relationship. Test your formula with Python code. Eg.:

- my age is 30
- my son is 10
- my dad's twice my age
- my grandmother is three times my age minus my son's_age


A formula relating all these values would be:

`my_grandmother = my_age + my_dad's_age - my_sons_age`

Does this evaluate to True or to False?

In [35]:
len(set1) == 80
len(set2) == 56
len(set3) == 21
len(set4) == 28
len(set5) == 27

set_calculation = len(set1) - len(set3) + len(set2) -len(set4)

len(set5) == len(set1) - len(set3) + len(set2) -len(set4)

if len(set5) == set_calculation:
   print("True")
else:
   print("False")

False

#### Create an empty set called `set6`.

In [46]:
set6 = ()

print(set6)

()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [51]:
set3 = {1, 2, 3, 4, 5, 9, 10, 16, 23, 26, 33, 38, 42, 57, 64, 75, 77, 78, 81, 87, 97}
set5 = {2, 3, 13, 20, 21, 27, 41, 42, 48, 51, 58, 61, 63, 65, 68, 74, 76, 78, 80, 81, 87, 89, 90, 92, 94, 96, 99}

set6 = set()  # Define set6 as an empty set

set6.update(set3)
set6.update(set5)

print(set6)

{1, 2, 3, 4, 5, 9, 10, 13, 16, 20, 21, 23, 26, 27, 33, 38, 41, 42, 48, 51, 57, 58, 61, 63, 64, 65, 68, 74, 75, 76, 77, 78, 80, 81, 87, 89, 90, 92, 94, 96, 97, 99}

#### Check if `set1` and `set6` are equal.

In [52]:
set1 = [8, 79, 94, 59, 10, 12, 25, 76, 68, 33, 73, 39, 34, 36, 61, 58, 85, 100, 55, 89, 99, 42, 95, 82, 51, 97, 57, 38, 93, 96, 44, 5, 20, 24, 67, 31, 32, 90, 60, 21, 84, 19, 80, 11, 17, 45, 50, 70, 13, 66, 28, 30, 83, 77, 91, 87, 14, 56, 35, 16, 23, 48, 74, 88, 4, 22, 63, 53, 64, 62, 7, 71, 69, 41, 27, 78, 40, 9, 1, 15]
set6 = {1, 2, 3, 4, 5, 9, 10, 13, 16, 20, 21, 23, 26, 27, 33, 38, 41, 42, 48, 51, 57, 58, 61, 63, 64, 65, 68, 74, 75, 76, 77, 78, 80, 81, 87, 89, 90, 92, 94, 96, 97, 99}

set1 == set6

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [59]:
set1 = {8, 79, 94, 59, 10, 12, 25, 76, 68, 33, 73, 39, 34, 36, 61, 58, 85, 100, 55, 89, 99, 42, 95, 82, 51, 97, 57, 38, 93, 96, 44, 5, 20, 24, 67, 31, 32, 90, 60, 21, 84, 19, 80, 11, 17, 45, 50, 70, 13, 66, 28, 30, 83, 77, 91, 87, 14, 56, 35, 16, 23, 48, 74, 88, 4, 22, 63, 53, 64, 62, 7, 71, 69, 41, 27, 78, 40, 9, 1, 15}
set2 = {63, 51, 10, 77, 75, 84, 36, 89, 95, 59, 72, 44, 76, 93, 3, 34, 32, 88, 44, 4, 84, 64, 60, 93, 66, 62, 74, 73, 27, 78, 80, 63, 77, 33, 25, 27, 38, 39, 32, 48, 24, 38, 25, 30, 88, 66, 2, 82, 99, 49, 56, 34, 2, 74, 79, 73, 18, 76, 55, 60, 72, 70, 19, 73, 14, 74, 33, 69, 97, 36, 70, 26, 22, 20, 21, 84, 25, 81, 30, 61}
set3 = {1, 2, 3, 4, 5, 9, 10, 16, 23, 26, 33, 38, 42, 57, 64, 75, 77, 78, 81, 87, 97}

is_subset_2_in_1 = set2.issubset(set1)

is_subset_3_in_1 = set3.issubset(set1)

if is_subset_2_in_1:
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

if is_subset_3_in_1:
    print("set3 is a subset of set1.")
else:
    print("set3 is not a subset of set1.")

set2 is not a subset of set1.
set3 is not a subset of set1.

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`.

#### Check if the aggregated values are equal.

In [61]:
set4 = {5, 6, 8, 16, 18, 25, 26, 28, 29, 30, 33, 37, 39, 44, 46, 52, 54, 56, 64, 72, 73, 82, 83, 84, 88, 93, 97, 98}

aggregated_set1 = set3.union(set4, set5)

aggregated_set2 = set1.union(set2)

print("Aggregated Set 1:", aggregated_set1)
print("Aggregated Set 2:", aggregated_set2)

if aggregated_set1 == aggregated_set2:
  print("Yes the values are equal")
else:
  print("No the values are not equal")

Aggregated Set 1: {1, 2, 3, 4, 5, 6, 8, 9, 10, 13, 16, 18, 20, 21, 23, 25, 26, 27, 28, 29, 30, 33, 37, 38, 39, 41, 42, 44, 46, 48, 51, 52, 54, 56, 57, 58, 61, 63, 64, 65, 68, 72, 73, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 87, 88, 89, 90, 92, 93, 94, 96, 97, 98, 99}
Aggregated Set 2: {1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 44, 45, 48, 49, 50, 51, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 99, 100}
No the values are not equal

#### Using the `pop` method, remove the first element from `set1`.

In [67]:
set1 = {8, 79, 94, 59, 10, 12, 25, 76, 68, 33, 73, 39, 34, 36, 61, 58, 85, 100, 55, 89, 99, 42, 95, 82, 51, 97, 57, 38, 93, 96, 44, 5, 20, 24, 67, 31, 32, 90, 60, 21, 84, 19, 80, 11, 17, 45, 50, 70, 13, 66, 28, 30, 83, 77, 91, 87, 14, 56, 35, 16, 23, 48, 74, 88, 4, 22, 63, 53, 64, 62, 7, 71, 69, 41, 27, 78, 40, 9, 1, 15}

removed_element = set1.pop()

print(removed_element)
print(set1)

1
{4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 27, 28, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 44, 45, 48, 50, 51, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 73, 74, 76, 77, 78, 79, 80, 82, 83, 84, 85, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [70]:
set1 = {8, 79, 94, 59, 10, 12, 25, 76, 68, 33, 73, 39, 34, 36, 61, 58, 85, 100, 55, 89, 99, 42, 95, 82, 51, 97, 57, 38, 93, 96, 44, 5, 20, 24, 67, 31, 32, 90, 60, 21, 84, 19, 80, 11, 17, 45, 50, 70, 13, 66, 28, 30, 83, 77, 91, 87, 14, 56, 35, 16, 23, 48, 74, 88, 4, 22, 63, 53, 64, 62, 7, 71, 69, 41, 27, 78, 40, 9, 1, 15}

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set_to_remove = set(list_to_remove)

remaining_elements = set()

for element in set1:
    if element not in set_to_remove:
        remaining_elements.add(element)

print("Remaining elements in set1:", remaining_elements)

Remaining elements in set1: {4, 5, 7, 8, 10, 12, 13, 14, 15, 16, 17, 20, 22, 23, 24, 25, 27, 28, 30, 32, 33, 34, 35, 36, 38, 40, 42, 44, 45, 48, 50, 53, 55, 56, 57, 58, 60, 62, 63, 64, 66, 67, 68, 70, 73, 74, 76, 77, 78, 80, 82, 83, 84, 85, 87, 88, 90, 93, 94, 95, 96, 97, 100}