## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [239]:
import random

⚠️ Did you get: module not found? Try, in a cell: <br>
`!pip install random`<br>
`import random`

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [240]:
# Your code here
x = list(range(1, 101))
sample_list_1 = random.sample(x, 80)
sample_list_1

[67,
 92,
 84,
 1,
 78,
 3,
 94,
 70,
 2,
 27,
 19,
 59,
 73,
 99,
 89,
 74,
 12,
 13,
 52,
 57,
 62,
 87,
 16,
 14,
 80,
 83,
 36,
 86,
 44,
 82,
 55,
 24,
 60,
 30,
 85,
 39,
 40,
 11,
 58,
 68,
 8,
 45,
 69,
 75,
 9,
 41,
 5,
 71,
 25,
 54,
 49,
 34,
 28,
 88,
 76,
 35,
 95,
 77,
 65,
 100,
 43,
 91,
 61,
 48,
 10,
 47,
 97,
 50,
 38,
 46,
 37,
 53,
 56,
 66,
 96,
 98,
 6,
 51,
 31,
 23]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [241]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))
print(set1)

# In this case the length will stay the same as the difference in a set is that duplicates are removed.
# However, the list was created voluntarily to not have duplictes in it.

80
{1, 2, 3, 5, 6, 8, 9, 10, 11, 12, 13, 14, 16, 19, 23, 24, 25, 27, 28, 30, 31, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 94, 95, 96, 97, 98, 99, 100}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [242]:
# Your code here
x = list(range(0, 101))
sample_list_2 = []


for i in range(80):
    y = random.choice(x)
    sample_list_2.append(y)

print(sample_list_2)

[41, 67, 40, 78, 60, 42, 28, 50, 15, 28, 29, 5, 15, 21, 43, 73, 8, 18, 42, 80, 20, 12, 100, 36, 34, 22, 85, 62, 87, 52, 59, 4, 7, 28, 48, 53, 52, 22, 63, 47, 38, 84, 32, 11, 41, 38, 2, 53, 38, 85, 85, 48, 99, 86, 30, 62, 51, 48, 58, 92, 86, 73, 29, 24, 15, 0, 20, 88, 73, 78, 52, 33, 22, 78, 5, 86, 15, 83, 99, 96]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [243]:
# Your code here
set2 = set(sample_list_2)
len(set2)

# The length here will not be the same because a set has no duplicate values, and given that this list was created
# without considering the uniqueness of its values, therefore duplicates were removed and length was reduced

51

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [244]:
# Your code here
set3 = set1 - set2
len(set3)

42

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [245]:
# Your code here
set4 = set2 - set1
len(set4)

13

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [246]:
# Your code here
set5 = set1.intersection(set2)
len(set5)

38

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formula to represent that relationship. Test your formula with Python code. Eg.: 

- my age is 30
- my son is 10
- my dad's twice my age
- my grandmother is three times my age minus my son's_age


A formula relating all these values would be:

`my_grandmother = my_age + my_dad's_age - my_sons_age`

Does this evaluate to True or to False?

In [247]:
# Your code here
# set3 + set4 + set5 = set1 + set2 - set5
# rearrange: set3 + set4 + 2*set5 - set2 = set1 (which is 80)
a = len(set1)
b = len(set2)
c = len(set3)
d = len(set4)
e = len(set5)

(c) + (d) + (2*e) - b

80

#### Create an empty set called `set6`.

In [248]:
# Your code here
set6 = set()
set6

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [249]:
# Your code here
set6.update(set3, set5)
set6

{1,
 2,
 3,
 5,
 6,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 16,
 19,
 23,
 24,
 25,
 27,
 28,
 30,
 31,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 73,
 74,
 75,
 76,
 77,
 78,
 80,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 91,
 92,
 94,
 95,
 96,
 97,
 98,
 99,
 100}

#### Check if `set1` and `set6` are equal.

In [250]:
# Your code here
set6 == set1

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [251]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [252]:
# Your code here
set7 = set3.union(set4, set5)
set8 = set1.union(set2)

#### Using the `pop` method, remove the first element from `set1`.

In [253]:
# Your code here
a = list(set1)
a.remove(a[0])
a

setx = set(a)
setx

{2,
 3,
 5,
 6,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 16,
 19,
 23,
 24,
 25,
 27,
 28,
 30,
 31,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 73,
 74,
 75,
 76,
 77,
 78,
 80,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 91,
 92,
 94,
 95,
 96,
 97,
 98,
 99,
 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [254]:
# Your code here
for i in list_to_remove:
    set1.discard(i)

set1

{2,
 3,
 5,
 6,
 8,
 10,
 12,
 13,
 14,
 16,
 23,
 24,
 25,
 27,
 28,
 30,
 34,
 35,
 36,
 37,
 38,
 40,
 43,
 44,
 45,
 46,
 47,
 48,
 50,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 60,
 62,
 65,
 66,
 67,
 68,
 70,
 73,
 74,
 75,
 76,
 77,
 78,
 80,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 92,
 94,
 95,
 96,
 97,
 98,
 100}