## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [2]:
import random

⚠️ Did you get: module not found? Try, in a cell: <br>
`!pip install random`<br>
`import random`

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [129]:
sample_list_1 = random.sample(range(100),k=80)
print(sample_list_1)

[26, 32, 79, 73, 29, 80, 7, 52, 58, 27, 82, 38, 16, 63, 37, 45, 62, 84, 8, 47, 66, 92, 23, 65, 74, 28, 49, 75, 14, 17, 21, 67, 34, 94, 96, 3, 36, 25, 89, 18, 93, 2, 43, 88, 91, 61, 64, 87, 99, 22, 15, 57, 85, 70, 19, 81, 69, 0, 76, 35, 83, 31, 68, 9, 86, 30, 4, 98, 6, 95, 53, 71, 40, 59, 33, 77, 13, 90, 48, 46]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [130]:
set1=set(sample_list_1)
print(type(set1))
len(set1)

<class 'set'>

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [131]:
#Method 1
import numpy as np

sample_list_2 = np.random.randint(0,100,size=80)
sample_list_2 = sample_list_2.tolist()
print(sample_list_2)

type(sample_list_2)


#Method 2

sample_list_2 =[]

for i in range(0,80):
    n=random.randint(0,80)
    sample_list_2.append(n)

print(sample_list_2)

[34, 39, 62, 98, 34, 77, 40, 15, 70, 67, 40, 77, 23, 93, 24, 97, 63, 41, 23, 53, 21, 89, 51, 94, 2, 52, 95, 10, 33, 76, 13, 80, 64, 1, 49, 67, 82, 75, 86, 90, 0, 58, 14, 34, 84, 59, 94, 0, 49, 85, 94, 72, 66, 67, 74, 96, 45, 2, 80, 10, 16, 97, 26, 95, 53, 85, 96, 66, 66, 88, 81, 40, 31, 18, 79, 85, 47, 10, 14, 33]
[80, 37, 80, 73, 48, 51, 2, 30, 52, 51, 13, 56, 7, 50, 50, 75, 80, 0, 42, 80, 5, 40, 76, 29, 45, 68, 65, 68, 12, 60, 64, 38, 36, 2, 7, 80, 17, 16, 66, 22, 51, 2, 23, 73, 67, 16, 15, 6, 37, 50, 37, 11, 14, 73, 60, 9, 45, 7, 45, 24, 22, 72, 65, 23, 67, 23, 66, 80, 21, 30, 29, 47, 61, 52, 69, 11, 44, 4, 51, 79]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [132]:
set2 = set(sample_list_2)
print(set2)
print(len(set2))
if len(set2) == 80:
    print("Still 80")
else:
    print("it's removed the duplicates")

{0, 2, 4, 5, 6, 7, 9, 11, 12, 13, 14, 15, 16, 17, 21, 22, 23, 24, 29, 30, 36, 37, 38, 40, 42, 44, 45, 47, 48, 50, 51, 52, 56, 60, 61, 64, 65, 66, 67, 68, 69, 72, 73, 75, 76, 79, 80}
47
it's removed the duplicates

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [133]:
print("set1:")
print(set1)
print("set2:")
print(set2)
print("\n")
print("difference = set1- set2:")
print(set1 - set2)
print("\n")
print("set1.difference(set2):")
print(set1.difference(set2))
print("\n")
print("set3")
set3=set1.difference(set2)
print(set3)
print(len(set3))

set1:
{0, 2, 3, 4, 6, 7, 8, 9, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 43, 45, 46, 47, 48, 49, 52, 53, 57, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 98, 99}
set2:
{0, 2, 4, 5, 6, 7, 9, 11, 12, 13, 14, 15, 16, 17, 21, 22, 23, 24, 29, 30, 36, 37, 38, 40, 42, 44, 45, 47, 48, 50, 51, 52, 56, 60, 61, 64, 65, 66, 67, 68, 69, 72, 73, 75, 76, 79, 80}


difference = set1- set2:
{3, 8, 18, 19, 25, 26, 27, 28, 31, 32, 33, 34, 35, 43, 46, 49, 53, 57, 58, 59, 62, 63, 70, 71, 74, 77, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 98, 99}


set1.difference(set2):
{3, 8, 18, 19, 25, 26, 27, 28, 31, 32, 33, 34, 35, 43, 46, 49, 53, 57, 58, 59, 62, 63, 70, 71, 74, 77, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 98, 99}


set3
{3, 8, 18, 19, 25, 26, 27, 28, 31, 32, 33, 34, 35, 43, 46, 49, 53, 57, 58, 59, 62, 63, 70, 71, 74, 77, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 98, 99}
44

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [134]:
print("set1:")
print(set1)
print("set2:")
print(set2)
print("\n")
print("difference = set2- set1:")
print(set2 - set1)
print("\n")
print("set2.difference(set1):")
print(set2.difference(set1))
print("\n")
print("set4")
set4=set2.difference(set1)
print(set4)
print(len(set4))

set1:
{0, 2, 3, 4, 6, 7, 8, 9, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 43, 45, 46, 47, 48, 49, 52, 53, 57, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 98, 99}
set2:
{0, 2, 4, 5, 6, 7, 9, 11, 12, 13, 14, 15, 16, 17, 21, 22, 23, 24, 29, 30, 36, 37, 38, 40, 42, 44, 45, 47, 48, 50, 51, 52, 56, 60, 61, 64, 65, 66, 67, 68, 69, 72, 73, 75, 76, 79, 80}


difference = set2- set1:
{5, 72, 42, 11, 12, 44, 50, 51, 24, 56, 60}


set2.difference(set1):
{5, 72, 42, 11, 12, 44, 50, 51, 24, 56, 60}


set4
{5, 72, 42, 11, 12, 44, 50, 51, 24, 56, 60}
11

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [135]:
print("set1:")
print(set1)
print("set2:")
print(set2)
print("\n")
print("set5 = set1.intersection(set2)")
set5 = set1.intersection(set2)
print(set5)

set1:
{0, 2, 3, 4, 6, 7, 8, 9, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 43, 45, 46, 47, 48, 49, 52, 53, 57, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 98, 99}
set2:
{0, 2, 4, 5, 6, 7, 9, 11, 12, 13, 14, 15, 16, 17, 21, 22, 23, 24, 29, 30, 36, 37, 38, 40, 42, 44, 45, 47, 48, 50, 51, 52, 56, 60, 61, 64, 65, 66, 67, 68, 69, 72, 73, 75, 76, 79, 80}


set5 = set1.intersection(set2)
{0, 2, 4, 6, 7, 9, 13, 14, 15, 16, 17, 21, 22, 23, 29, 30, 36, 37, 38, 40, 45, 47, 48, 52, 61, 64, 65, 66, 67, 68, 69, 73, 75, 76, 79, 80}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formula to represent that relationship. Test your formula with Python code. Eg.: 

- my age is 30
- my son is 10
- my dad's twice my age
- my grandmother is three times my age minus my son's_age


A formula relating all these values would be:

`my_grandmother = my_age + my_dad's_age - my_sons_age`

Does this evaluate to True or to False?

In [136]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))
print("\n")
print("set1 = 80 possibly repeated values")
print("set2 = unique values generated between 0-100, 80 initially but then removed the duplicates")
print("set3 is numbers exclusive to set 1")
print("set4 is numbers exclusive to set 2")
print("set5 is interesection of both sets")
print("\n")
print("set1= set3 + set5")
f"set1 takes the value of {len(set1)} and representes set3, {len(set3)}, plus set5, {len(set5)}"
f"set1 plus set2, {len(set1)} + {len(set2)}, is the same as saying set3, {len(set3)}, + set4, {len(set4)}, plus twice set5, {len(set5)}"

80
47
44
11
36


set1 = 80 possibly repeated values
set2 = unique values generated between 0-100, 80 initially but then removed the duplicates
set3 is numbers exclusive to set 1
set4 is numbers exclusive to set 2
set5 is interesection of both sets


set1= set3 + set5

'set1 plus set2, 80 + 47, is the same as saying set3, 44, + set4, 11, plus twice set5, 36'

#### Create an empty set called `set6`.

In [121]:
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [122]:
set6.update(set3)
set6.update(set5)
print(set6)

{2, 4, 5, 7, 8, 10, 13, 16, 17, 18, 20, 22, 23, 25, 26, 30, 32, 34, 36, 37, 38, 40, 42, 43, 44, 46, 47, 48, 50, 52, 53, 54, 55, 56, 58, 60, 62, 63, 64, 65, 66, 68, 70, 72, 73, 74, 75, 76, 77, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 98}

#### Check if `set1` and `set6` are equal.

In [123]:
if set1 == set6:
    print("They're the same")
else:
    print("They're not the same")

They're the same

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [124]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [125]:
print(len(set3.union(set4,set5)))
print(len(set1.union(set2)))
#they're the same!

84
84

#### Using the `pop` method, remove the first element from `set1`.

In [126]:
set1.pop()
print(set1)

{4, 5, 7, 8, 10, 13, 16, 17, 18, 20, 22, 23, 25, 26, 30, 32, 34, 36, 37, 38, 40, 42, 43, 44, 46, 47, 48, 50, 52, 53, 54, 55, 56, 58, 60, 62, 63, 64, 65, 66, 68, 70, 72, 73, 74, 75, 76, 77, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 98}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [127]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
print("list_to_remove")
print(list_to_remove)
print("set1")
print(set1)
print("\n")
print("cleaned set")
for i in list_to_remove:
    if i in set1:
        set1.remove(i)
print(set1)

list_to_remove
[1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set1
{4, 5, 7, 8, 10, 13, 16, 17, 18, 20, 22, 23, 25, 26, 30, 32, 34, 36, 37, 38, 40, 42, 43, 44, 46, 47, 48, 50, 52, 53, 54, 55, 56, 58, 60, 62, 63, 64, 65, 66, 68, 70, 72, 73, 74, 75, 76, 77, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 98}


cleaned set
{4, 5, 7, 8, 10, 13, 16, 17, 18, 20, 22, 23, 25, 26, 30, 32, 34, 36, 37, 38, 40, 42, 43, 44, 46, 47, 48, 50, 52, 53, 54, 55, 56, 58, 60, 62, 63, 64, 65, 66, 68, 70, 72, 73, 74, 75, 76, 77, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 98}